/* #1979C8 */
/* #689A56 */
$primary-color: #4484ce;
$secondary-color: #f19f4d;
$background-color: #d9d9d9;
$menu-item-hover-bg-color: #f7f7f7;
/* $negative-color: #d9d9d9; */
$font-color-on-primary: #fff;
/* #f9cf00 */
$form-element-border-color: #999;
$form-element-label-color: #a6a6a6;
$error-color: #d9534f;
$correct-color: #09d266;
$main-content-padding: 10px;
$hover-opacity: 0.8;
body {
  background-color: #efefef;
}
:global div:focus {
  outline: none;
}

:global {
  /* buttons */
  .ui.button.positive {
    background-color: $secondary-color;
    &:hover {
      background-color: $secondary-color !important;
      opacity: $hover-opacity;
    }
  }
  .ui.button.negative {
    background-color: $background-color;
    &:hover {
      background-color: $background-color !important;
      opacity: $hover-opacity;
    }
  }

  .ui.label {
    background-color: $secondary-color !important;
  }
  /* tab titles */
  .ui.secondary.pointing.menu .active.item,
  .ui.secondary.pointing.menu .active.item:hover {
    border-color: $primary-color;
    color: $primary-color;
  }

  .ui.checkbox input:checked ~ .box:after,
  .ui.checkbox input:checked ~ label:after {
    color: $primary-color !important;
  }

  /* semantic-ui loader */
  .ui.loading.dropdown > i.icon:after {
    border-color: $primary-color transparent transparent !important;
  }

  /* top menu */
  .top.fixed.menu {
    background-color: #4484ce !important;
  }
}
