$topbar-height: 55px;
.root {
  position: fixed !important;
  /* position: relative !important; */
  top: 0;
  z-index: 1000;
  width: 100%;
  height: $topbar-height;
  border-radius: 0 !important;
  /* border: 0 !important; */
  & > :global(.item:last-child) {
    &::before {
      width: 0 !important;
    }
  }
  i {
    color: $primary-color !important;
  }
}
.menu {
  /* TODO: config */
  height: $topbar-height;

  width: 100% !important;
  margin-bottom: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
}
