.dropdownWrappingBtn {
  background-color: #fff !important;
  padding: 0 !important;
  width: 116px;
  &:hover {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
.dropdown {
  > i {
    right: 10px !important;
    margin: 0 !important;
    float: right !important;
    position: absolute !important;
  }
  :global .menu {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-top: 0 !important;
  }
}
:global .ui.menu .ui.dropdown.item .menu .item {
  padding-left: 13px !important;
}

.nestedItem {
  font-size: inherit !important;
  padding: 0 !important;
  text-align: left !important;
}
