.root {
  padding: 10px;
}
.grid {
  @media only screen and (max-width: 640px) {
    margin-right: 0 !important;
    :global .column {
      padding-right: 0 !important;
      padding-bottom: 11px !important;
    }
  }
}
.column {
  display: flex !important;
  margin-bottom: 2px;
  @media only screen and (max-width: 640px) {
    padding-top: 0 !important;
  }
}
.shrinkHeigh {
  display: flex !important;
  flex-grow: 1 !important;
  flex-direction: column !important;
}

.actionsBar {
  margin: 10px 10px 0 10px;
  text-align: right;
}
