.animateFocus {
  &:focus {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
  }

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background: inherit;
    border-radius: 5px;
    z-index: -1;
    opacity: 0.4;
    transform: scale3d(0.8, 0.5, 1);
    display: none;
  }
  &:focus::before {
    animation: anim-moema-2 0.3s 0.3s forwards;
    display: inline;
  }
}

.right {
  float: right;
}
@keyframes anim-moema-1 {
  60% {
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-moema-2 {
  to {
    opacity: 0.2;
    transform: scale3d(1, 1, 1);
  }
}
