$topbar-height: 55px;
.pushable {
  height: calc(100vh - $topbar-height) !important;

  :global .sidebar {
    width: 0 !important;
    transition: width 0.1s;
  }
  :global .sidebar.visible {
    width: 350px !important;
    transition: width 0.1s;
  }

  :global .pusher {
    transform: translate3d(0, 0, 0) !important;
    /* flex is requred to make height of children 100% of parent */
    display: flex !important;
    flex-grow: 1 !important;
  }
}
.dictionariesSidebar {
  position: sticky !important;
  float: left;
  border-left: 0 !important;
  max-width: 320px !important;
}
