.root {
  border: none !important;
  padding: 0 !important;
  min-height: auto !important;
  [role='alert'] {
    display: none !important;
  }
  :global .icon {
    padding-top: 4px !important;
    &:hover {
      color: $primary-color;
    }
  }
  &:global(.ui.loading.selection.dropdown > i.icon) {
    padding-top: 0 !important;
  }
}
