$size: 30px;
.root {
  display: inline-block;
}
.viewport {
  /* border: 1px solid black; */
  width: $size;
  height: $size;
  display: flex;
  flex-direction: column;
  line-height: $size;
}
.item {
  text-align: center;
  /* background-color: #fff; */
  flex-shrink: 0;
  -webkit-overflow-scrolling: touch;
  display: none;
  &.active {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
}

.arrow {
  cursor: pointer;
  &:hover {
    color: $primary-color;
  }
}
